Experiment 4

In [1]:
import pandas as pd
data = pd.read_csv('/Users/deepak/Programs/ML/pre-ownedcars.csv')

In [2]:
print(data.head())

      brand                                     model transmission  make_year  \
0  Mahindra              Thar LX D 4WD MT CONVERTIBLE       Manual     2020.0
1   Hyundai                         Verna 1.6 VTVT SX       Manual     2018.0
2      Tata  Harrier XT PLUS 2.0L KRYOTEC DARK EDITON       Manual     2022.0
3     Honda                     City 1.5L I-VTE V CVT    Automatic     2023.0
4      Ford             Ecosport TITANIUM 1.5L DIESEL       Manual     2021.0

     reg_year fuel_type  engine_capacity(CC)  km_driven  ownership    price  \
0  01-01-2021    Diesel               2184.0    11003.0  1st owner  1231000
1  01-07-2018    Petrol               1591.0    66936.0  1st owner   786000
2  01-08-2022    Diesel               1956.0    27990.0  1st owner  1489000
3  01-04-2023    Petrol               1498.0     5061.0  1st owner  1227000
4  01-07-2021    Diesel               1498.0    23480.0  1st owner   887000

   overall_cost has_insurance spare_key reg_number  \
0       23431.0          True        No       HR26
1       15359.0          True        No       DL7C
2       28349.0          True        No       HR29
3       23355.0          True       Yes       DL4C
4       16883.0          True        No       UP14

                                               title
0         2020 Mahindra Thar LX D 4WD MT CONVERTIBLE
1                     2018 Hyundai Verna 1.6 VTVT SX
2  2022 Tata Harrier XT PLUS 2.0L KRYOTEC DARK ED...
3                   2023 Honda City 1.5L I-VTE V CVT
4            2021 Ford Ecosport TITANIUM 1.5L DIESEL

In [3]:
print(data.shape)

(2806, 15)

In [4]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2806 entries, 0 to 2805
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   brand                2805 non-null   object
 1   model                2805 non-null   object
 2   transmission         2805 non-null   object
 3   make_year            2805 non-null   float64
 4   reg_year             720 non-null    object
 5   fuel_type            2805 non-null   object
 6   engine_capacity(CC)  2688 non-null   float64
 7   km_driven            2805 non-null   float64
 8   ownership            2805 non-null   object
 9   price                2806 non-null   int64
 10  overall_cost         2805 non-null   float64
 11  has_insurance        2805 non-null   object
 12  spare_key            2805 non-null   object
 13  reg_number           2805 non-null   object
 14  title                2805 non-null   object
dtypes: float64(4), int64(1), object(10)
memory usage: 329.0+ KB
None

In [5]:
print(data.memory_usage().sum())

336848

In [6]:
print(data.isnull().sum())

brand                     1
model                     1
transmission              1
make_year                 1
reg_year               2086
fuel_type                 1
engine_capacity(CC)     118
km_driven                 1
ownership                 1
price                     0
overall_cost              1
has_insurance             1
spare_key                 1
reg_number                1
title                     1
dtype: int64

In [7]:
data.fillna(data.mean(), inplace=True)

/var/folders/5j/m6yfb1ld1ps7h23lt460ly180000gn/T/ipykernel_22327/1474580016.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.fillna(data.mean(), inplace=True)

In [8]:
numerical_columns = data.select_dtypes(include=['number'])
statistics = numerical_columns.describe()
print(statistics)

         make_year  engine_capacity(CC)      km_driven         price  \
count  2806.000000          2806.000000    2806.000000  2.806000e+03
mean   2018.181105          1259.027530   49215.477362  1.342522e+06
std       2.944768           249.094062   26622.185940  3.554669e+07
min    2010.000000           624.000000     450.000000  1.630000e+05
25%    2016.000000          1197.000000   28556.500000  4.350000e+05
50%    2018.000000          1197.000000   45699.500000  5.940000e+05
75%    2021.000000          1451.000000   68177.750000  8.140000e+05
max    2024.000000          2694.000000  143991.000000  1.883558e+09

       overall_cost
count   2806.000000
mean   13495.022816
std     6039.732331
min     4039.000000
25%     9267.500000
50%    12149.000000
75%    15760.000000
max    47338.000000

In [9]:
total = data['km_driven'].sum()
print("Sum:", total)

Sum: 138098629.47736186

In [10]:
average = data['km_driven'].mean()
print("Average:", average)

Average: 49215.47736185383

In [11]:
minimum = data['km_driven'].min()
print("Minimum:", minimum)

Minimum: 450.0

In [12]:
maximum = data['km_driven'].max()
print("Maximum:", maximum)

Maximum: 143991.0