In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/HypnoticShield/ML/refs/heads/main/pre-ownedcars.csv')

In [4]:
missing_values_count = df.isnull().sum()
print("Missing Values in Each Column:")
print(missing_values_count)

Missing Values in Each Column:
brand                     1
model                     1
transmission              1
make_year                 1
reg_year               2086
fuel_type                 1
engine_capacity(CC)     118
km_driven                 1
ownership                 1
price                     0
overall_cost              1
has_insurance             1
spare_key                 1
reg_number                1
title                     1
dtype: int64

In [5]:
most_missing = missing_values_count[missing_values_count == missing_values_count.max()]
print("\nColumns with the Most Missing Values:")
print(most_missing)

Columns with the Most Missing Values:
reg_year    2086
dtype: int64

In [6]:
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns
for col in numerical_cols:
    if df[col].isnull().sum() > 0:
        mean_value = df[col].mean()
        df[col].fillna(mean_value, inplace=True)

<ipython-input-6-e7b024b83ee9>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mean_value, inplace=True)

In [7]:
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    if df[col].isnull().sum() > 0:
        mode_value = df[col].mode()[0]
        df[col].fillna(mode_value, inplace=True)

<ipython-input-7-029526777873>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mode_value, inplace=True)
<ipython-input-7-029526777873>:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col].fillna(mode_value, inplace=True)

In [8]:
print("\nDataset after Handling Missing Values:")
print(df.head())

Dataset after Handling Missing Values:
      brand                                     model transmission  make_year  \
0  Mahindra              Thar LX D 4WD MT CONVERTIBLE       Manual     2020.0
1   Hyundai                         Verna 1.6 VTVT SX       Manual     2018.0
2      Tata  Harrier XT PLUS 2.0L KRYOTEC DARK EDITON       Manual     2022.0
3     Honda                     City 1.5L I-VTE V CVT    Automatic     2023.0
4      Ford             Ecosport TITANIUM 1.5L DIESEL       Manual     2021.0

     reg_year fuel_type  engine_capacity(CC)  km_driven  ownership    price  \
0  01-01-2021    Diesel               2184.0    11003.0  1st owner  1231000
1  01-07-2018    Petrol               1591.0    66936.0  1st owner   786000
2  01-08-2022    Diesel               1956.0    27990.0  1st owner  1489000
3  01-04-2023    Petrol               1498.0     5061.0  1st owner  1227000
4  01-07-2021    Diesel               1498.0    23480.0  1st owner   887000

   overall_cost  has_insurance spare_key reg_number  \
0       23431.0           True        No       HR26
1       15359.0           True        No       DL7C
2       28349.0           True        No       HR29
3       23355.0           True       Yes       DL4C
4       16883.0           True        No       UP14

                                               title
0         2020 Mahindra Thar LX D 4WD MT CONVERTIBLE
1                     2018 Hyundai Verna 1.6 VTVT SX
2  2022 Tata Harrier XT PLUS 2.0L KRYOTEC DARK ED...
3                   2023 Honda City 1.5L I-VTE V CVT
4            2021 Ford Ecosport TITANIUM 1.5L DIESEL

In [9]:
Q1 = df[numerical_cols].quantile(0.25)
Q3 = df[numerical_cols].quantile(0.75)
IQR = Q3 - Q1
outlier_condition = (df[numerical_cols] < (Q1 - 1.5 * IQR)) | (df[numerical_cols] > (Q3 + 1.5 * IQR))

In [10]:
for col in numerical_cols:
    if outlier_condition[col].any():
        median_value = df[col].median()
        df.loc[outlier_condition[col], col] = median_value

In [11]:
print("\nDataset after Handling Outliers:")
print(df.head())

Dataset after Handling Outliers:
      brand                                     model transmission  make_year  \
0  Mahindra              Thar LX D 4WD MT CONVERTIBLE       Manual     2020.0
1   Hyundai                         Verna 1.6 VTVT SX       Manual     2018.0
2      Tata  Harrier XT PLUS 2.0L KRYOTEC DARK EDITON       Manual     2022.0
3     Honda                     City 1.5L I-VTE V CVT    Automatic     2023.0
4      Ford             Ecosport TITANIUM 1.5L DIESEL       Manual     2021.0

     reg_year fuel_type  engine_capacity(CC)  km_driven  ownership    price  \
0  01-01-2021    Diesel               1197.0    11003.0  1st owner  1231000
1  01-07-2018    Petrol               1591.0    66936.0  1st owner   786000
2  01-08-2022    Diesel               1197.0    27990.0  1st owner   594000
3  01-04-2023    Petrol               1498.0     5061.0  1st owner  1227000
4  01-07-2021    Diesel               1498.0    23480.0  1st owner   887000

   overall_cost  has_insurance spare_key reg_number  \
0       23431.0           True        No       HR26
1       15359.0           True        No       DL7C
2       12149.0           True        No       HR29
3       23355.0           True       Yes       DL4C
4       16883.0           True        No       UP14

                                               title
0         2020 Mahindra Thar LX D 4WD MT CONVERTIBLE
1                     2018 Hyundai Verna 1.6 VTVT SX
2  2022 Tata Harrier XT PLUS 2.0L KRYOTEC DARK ED...
3                   2023 Honda City 1.5L I-VTE V CVT
4            2021 Ford Ecosport TITANIUM 1.5L DIESEL

In [12]:
print("\nFinal Cleaned Dataset:")
print(df)

Final Cleaned Dataset:
         brand                                     model transmission  \
0     Mahindra              Thar LX D 4WD MT CONVERTIBLE       Manual
1      Hyundai                         Verna 1.6 VTVT SX       Manual
2         Tata  Harrier XT PLUS 2.0L KRYOTEC DARK EDITON       Manual
3        Honda                     City 1.5L I-VTE V CVT    Automatic
4         Ford             Ecosport TITANIUM 1.5L DIESEL       Manual
...        ...                                       ...          ...
2801      Ford           Ecosport TREND + 1.5L PETROL AT    Automatic
2802     Honda                        Jazz 1.2L I-VTEC V       Manual
2803   Hyundai                       Elite i20 MAGNA 1.2       Manual
2804    Maruti                   Baleno DELTA PETROL 1.2       Manual
2805    Maruti                   Baleno DELTA PETROL 1.2       Manual

        make_year    reg_year fuel_type  engine_capacity(CC)     km_driven  \
0     2020.000000  01-01-2021    Diesel           1197.00000  11003.000000
1     2018.000000  01-07-2018    Petrol           1591.00000  66936.000000
2     2022.000000  01-08-2022    Diesel           1197.00000  27990.000000
3     2023.000000  01-04-2023    Petrol           1498.00000   5061.000000
4     2021.000000  01-07-2021    Diesel           1498.00000  23480.000000
...           ...         ...       ...                  ...           ...
2801  2018.000000  01-07-2021    Petrol           1497.00000  46982.000000
2802  2015.000000  01-07-2021    Petrol           1199.00000  38706.000000
2803  2016.000000  01-07-2021    Petrol           1197.00000  31405.000000
2804  2017.000000  01-07-2021    Petrol           1197.00000  47676.000000
2805  2018.181105  01-07-2021    Petrol           1259.02753  49215.477362

      ownership    price  overall_cost  has_insurance spare_key reg_number  \
0     1st owner  1231000  23431.000000           True        No       HR26
1     1st owner   786000  15359.000000           True        No       DL7C
2     1st owner   594000  12149.000000           True        No       HR29
3     1st owner  1227000  23355.000000           True       Yes       DL4C
4     1st owner   887000  16883.000000           True        No       UP14
...         ...      ...           ...            ...       ...        ...
2801  1st owner   661000  12920.000000           True       Yes       MH03
2802  2nd owner   412000   8057.000000           True       Yes       MH01
2803  1st owner   496000   9704.000000           True       Yes       MH03
2804  1st owner   509000   9959.000000           True       Yes       MH04
2805  1st owner   594000  13495.022816           True        No       KA05

                                                  title
0            2020 Mahindra Thar LX D 4WD MT CONVERTIBLE
1                        2018 Hyundai Verna 1.6 VTVT SX
2     2022 Tata Harrier XT PLUS 2.0L KRYOTEC DARK ED...
3                      2023 Honda City 1.5L I-VTE V CVT
4               2021 Ford Ecosport TITANIUM 1.5L DIESEL
...                                                 ...
2801          2018 Ford Ecosport TREND + 1.5L PETROL AT
2802                      2015 Honda Jazz 1.2L I-VTEC V
2803                   2016 Hyundai Elite i20 MAGNA 1.2
2804                2017 Maruti Baleno DELTA PETROL 1.2
2805                2017 Maruti Baleno DELTA PETROL 1.2

[2806 rows x 15 columns]

In [13]:
print("\nSummary of Preprocessing Steps:")
print(f"1. Identified missing values in columns: {missing_values_count.sum()} total missing values handled.")
print(f"2. Filled numerical columns with mean/median and categorical columns with mode.")
print(f"3. Detected and handled outliers in numerical columns using IQR method.")

Summary of Preprocessing Steps:
1. Identified missing values in columns: 2216 total missing values handled.
2. Filled numerical columns with mean/median and categorical columns with mode.
3. Detected and handled outliers in numerical columns using IQR method.